.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.haiku-generator {
  grid-column: 2 / span 3;
  padding: 30px;
  font-family: "Cormorant Garamond";
}

.haiku-line-hide {
  display: none;
}

.haiku-line-show {
  font-style: italic;
  font-size: 50px;
  color: white;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
  background: white;
  padding: 40px;
  margin-bottom: 0px;
  color: black;
}


.haiku-buttons {
  margin: 0 auto;
}

.haiku-button {
  font-style: italic;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  border: 0px;
  display: block;
  font-family: "Cormorant Garamond";
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0 8px 13px 0 rgba(0,0,0,0.4);
  background: white;
}


.tweet-button-hide {
  display: none;
}

.tweet-button-show {
  font-size: 20px;
  color: black;
  cursor:pointer;
  width: auto;
  text-align: center;
  display: block;
  font-weight: 900;
  padding: 15px;
  text-decoration: none;
  font-style: italic;
  box-shadow: 0 8px 13px 0 rgba(0,0,0,0.4);
  background: white;
}

@media (max-width: 800px) {
  .App {
    grid-template-columns: 1;
    display: grid;
  }

  .haiku-generator {
    padding: 0px;
    grid-column: 1 / span -1;
  }
  .haiku-line-show {
    font-size: 30px;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .haiku-line-show {
    font-size: 20px;
    padding: 10px;
  }
  .haiku-button {
    font-size: 15px;
    padding: 10px;
    width: 100%;
  }
  .tweet-button-show {
    font-size: 15px;
    padding: 10px;
  }
}
